@import "tailwindcss";

@theme {
  --font-display: "Open Sans", sans-serif;

  --color-background: #0f0f0f;
  --color-background-dark: #070707;
  --color-foreground: #ffffff;
}

@import "$lib/styles/base.css";
@import "$lib/styles/form.css";
